.counter-box {
	background-color: white;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	box-shadow: 1px 1px 9px #0000006b;
}
.counter-box div h3 {
	margin: 0 1rem;
}
.counter-box__item {
	margin: 2rem;
}
#cart-instance__price {
	margin: 1.5rem;
	font-size: 35px;
}
.cart-instance__add-elements {
	margin: 1rem 0.5rem;
}
