.promotional-card {
	background-color: white;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 2rem;
	transition: all 0.1s ease;
}

.promotional-card:hover {
	box-shadow: 0px 0px 6px #00000017;
	cursor: pointer;
}

.promotional-card img {
	height: 243px;
	width: 210px;
	object-fit: contain;
	background: white;
}

.promotional-card h4 {
	font-size: 32px;
	font-weight: 500;
	max-width: 300px;
	width: 100%;
	color: #525252;
	margin: 0.5rem 0;
}
.promotional-card h5 {
	color: #6a6a6a;
	letter-spacing: 2px;
	max-width: 300px;
	width: 100%;
	font-size: 12px;
}
