.item-list--item {
	display: flex;
	padding: 1rem;
	align-items: center;
	transition: all 0.3s ease;
}

.nav-item-list--data {
	margin: 0 1rem;
}

.item-list--item h5,
.item-list--item h6 {
	margin-bottom: 0.2rem;
}

.item-list--item h5 {
	font-weight: normal;
	font-size: 16px;
	max-width: 210px;
	width: 100%;
}

.item-list--item h6 {
	font-weight: 100;
	font-size: 22px;
	color: aliceblue;
}

.item-list--item button {
	border: none;
	background: none;
	cursor: pointer;
	color: aliceblue;
}

.item-list--item button:hover {
	color: rgb(160, 214, 250);
}

.item-list--item:hover {
	background-color: rgb(0, 120, 201);
}

.item-list--item img {
	height: 80px;
	width: 80px;
	object-fit: contain;
	background-color: white;
	border-radius: 2px;
	margin-left: 0.8rem;
}
