.nav-item-list-box {
	margin: 1rem;
	margin-top: 0.5rem;
	display: flex;
	flex-direction: column;
	background-color: rgb(65, 65, 65);
	padding: 1rem 0;
	border-radius: 7px;
	position: absolute;
	right: -83px;
	z-index: 1;
}

.nav-item-list-box hr {
	border-style: solid;
	color: #0000001f;
	height: 1px;
	border: 0;
	width: 85%;
	background: #36363638;
	background-color: #686161;
}

.nav-item-list--items {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 262px;
	width: 385px;
}

.nav-item-list--items::-webkit-scrollbar {
	width: 12px;
}

.nav-item-list--items::-webkit-scrollbar-track {
	background: #414141;
}

.nav-item-list--items::-webkit-scrollbar-thumb {
	background-color: #8f8f8f;
	border-radius: 20px;
	border: 3px solid #414141;
}

.nav-item-list-box__button {
	color: aliceblue;
	border: none;
	background: none;
	font-size: 14px;
	cursor: pointer;
	padding: 3px 4px;
}

.nav-item-list-box__header {
	display: flex;
	margin: 0px 1rem 5px;
	color: aliceblue;
	font-size: 17px;
	align-items: center;
	justify-content: space-between;
}
