.list--items {
	display: flex;
	flex-direction: row;
	white-space: nowrap;
	overflow-x: scroll;
}
.list--item {
	margin: 1rem;
}
.greeting {
	margin: 1rem 2rem;
	color: black;
	font-size: 34px;
	text-shadow: 1px 1px 9px #00000062;
}
.list--box {
	max-width: 1300px;
	background-color: aliceblue;
	border-radius: 15px;
	margin: 2rem auto;
	padding: 1rem;
	box-shadow: 1px 1px 9px #0000004b;
}
