.list--items {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	scrollbar-width: none;
	scroll-behavior: smooth;
	height: 360px;
}
.list--items::-webkit-scrollbar {
	display: none;
}
.list--item {
	margin: 1rem;
}
.greeting {
	margin: 0.2rem 0.2rem;
	color: #4a4a4a;
	font-size: 26px;
	font-weight: 100;
	letter-spacing: 0.2px;
}
.list--box {
	max-width: 1300px;
	background-color: aliceblue;
	border-radius: 15px;
	margin: 2rem auto;
	padding: 1rem;
	box-shadow: 1px 1px 9px #0000004b;
}

.list--slider--box {
	position: relative;
	display: flex;
	align-items: center;
}

.slider-left-button,
.slider-right-button {
	position: absolute;
	opacity: 0.2;
}
.slider-left-button {
	left: 0;
}
.slider-right-button {
	right: 0;
}

.slider-left-button:hover,
.slider-right-button:hover {
	opacity: 1;
}

.hidden {
	display: none;
}
