.img-preview {
	position: fixed;
	z-index: 50;
	top: 0;
	background: #00000075;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
}

.img-preview img {
	width: 592px;
	margin: 0 500px;
	max-height: 592px;
	height: 90%;
	object-fit: contain;
}

.img-preview span {
	display: flex;
	height: 100vh;
	display: flex;
	align-items: center;
}

.img-preview .left-button,
.img-preview .right-button,
.img-preview .close-button {
	position: absolute;
	z-index: 51;
	background: none;
	border: none;
	padding: 9px;
	font-size: 40px;
	color: white;
}
.img-preview .left-button:hover,
.img-preview .right-button:hover,
.img-preview .close-button:hover {
	background-color: rgba(255, 249, 249, 0.137);
	cursor: pointer;
}

.img-preview .right-button {
	right: 2rem;
}

.img-preview .left-button {
	left: 1rem;
}

.img-preview .close-button {
	top: 63px;
	right: 131pc;
	font-size: 25px;
}
