.full-carousel--img-box .full-carousel__images {
	display: flex;
	justify-content: center;
}

.full-carousel--img-box img {
	height: 280px;
	width: 1150px;
	object-fit: cover;
}

.full-carousel--img-box {
	overflow: hidden;
}
