footer div div {
	padding: 3rem;
}

footer h3 {
	color: #000000c2;
	font-weight: inherit;
}

footer h5 {
	color: #00000075;
}

.foo--information {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer hr {
	border-style: solid;
	color: #0000001f;
	width: 1px;
	border: 0;
	height: 70%;
	background: #36363638;
	background-image: linear-gradient(to right, #cccccc3d, #33333329, #cccccc61);
}
