.full-carousel__box {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 1rem 1rem;
	max-width: 1400px;
	width: 96%;
}
.full-carousel__box .carousel-left,
.full-carousel__box .carousel-right {
	top: 9rem;
}

.full-carousel__box .carousel-left {
	left: -12px;
}

.full-carousel__box .carousel-right {
	right: -12px;
}

.full-carousel {
	max-width: 1400px;
	width: 100%;
	height: 350px;
	position: relative;
}
