.counter-box-display {
	color: #009688;
	background: #fff;
	border: 1px solid #009688;
	font-size: 17px;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	border-radius: 7px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 200px;
	user-select: none;
}
.counter-button {
	font-size: 25px;
	color: #009688;
	background: none;
	border: none;
	padding: 0.3rem 1rem;
	user-select: none;
}
.counter-button:hover {
	cursor: pointer;
	color: #fff;
	background: #009688;
	border-radius: 6.2px;
}
.disabled {
	pointer-events: none;
	color: #666666;
}
