.list--items {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	scrollbar-width: none;
	scroll-behavior: smooth;
	height: 300px;
}
.list--items::-webkit-scrollbar {
	display: none;
}
.list--item {
	margin: 1rem;
}
.greeting {
	margin: 0.2rem 0.2rem;
	color: #4a4a4a;
	font-size: 26px;
	font-weight: 100;
	letter-spacing: 0.2px;
}
.list--box {
	max-width: 1150px;
	width: 96%;
	margin: 0 auto;
	padding: 1rem;
}

.list--slider--box {
	position: relative;
	display: flex;
	align-items: center;
}

.slider-left-button {
	left: -12px;
}
.slider-right-button {
	right: -12px;
}

.hidden {
	display: none;
}
